app-header ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  --min-height: 80px;
}

app-header ion-header::after {
  background-image: none !important;
}

app-header ion-title {
  font-family: var(--ion-font-family-secondary) !important;
  text-align: center;
}
